html {
    font-size: 16px;
    background-color: hsl(201, 11%, 66%);
}
  
body {
    position: relative;
  
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  
    font-family: var(--body-font);
    line-height: 1.6;
    color: var(--txt-color);
    background-color: var(--bg-color);
}

.img {
    width: 100vw;
    height: auto;
  
    position: relative;
  }
  