@use 'mixins/responsive.scss';

@use 'base/normalize.scss';
@use 'base/initial-reset.scss';
@use 'config/variables.scss';


@use 'blocks/body.scss';
@use 'blocks/texts.scss';
@use 'blocks/buttons.scss';

@use 'blocks/header.scss';
@use 'blocks/main.scss';
@use 'blocks/footer.scss';

@use 'utils/utils.scss';